@page "/coupon-add-edit/{Id:int?}"
@using Mango.Web.Blazor.Pages.Templates

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ms-0 py-3">
        <h1 class="text-white text-center">@headerTitle</h1>

        <hr />
        <div class="row mt-15 mx-auto border-2 rounded-3 p-4r">
            <EditForm Model="@Coupon" OnValidSubmit="@OnSubmitForm">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <FieldComponent Label="Coupon Code" class="field-component-label">
                    <Control>
                        <InputText @bind-Value="@Coupon.CouponCode" class="form-control round-boarder input-text-custom" />
                    </Control>
                    <ValidationControl>
                        <ValidationMessage For="@(() => Coupon.CouponCode)" class="text-danger" />
                    </ValidationControl>
                </FieldComponent>

                <FieldComponent Label="Discount Amount" class="field-component-label">
                    <Control>
                        <InputNumber @bind-Value="@Coupon.DiscountAmount" class="form-control round-boarder input-text-custom" />
                    </Control>
                    <ValidationControl>
                        <ValidationMessage For="@(() => Coupon.DiscountAmount)" class="text-danger" />
                    </ValidationControl>
                </FieldComponent>

                <FieldComponent Label="Minimum Amount" class="field-component-label">
                    <Control>
                        <InputNumber @bind-Value="@Coupon.MinAmount" class="form-control round-boarder input-text-custom" />
                    </Control>
                    <ValidationControl>
                        <ValidationMessage For="@(() => Coupon.MinAmount)" class="text-danger" />
                    </ValidationControl>
                </FieldComponent>
 
                <div class="row">
                    <div class="col-8 d-flex justify-content-end">
                        <button class="btn btn-secondary me-2" @onclick="@(() => OnCancel())">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            
            </EditForm>
        </div>
     </div>
 </div>